<!DOCTYPE html>
<html>
  <body>
    <h2>Submit the secret you would like to share</h2>
    <form method="POST" action="/submit" id="form">
      <textarea rows="4" cols="50" name="note" form="form">Enter text here...</textarea>
      <input type="submit">
    </form>
  </body>
</html>
